@using MudBlazor


<div Style="border-block-color:aquamarine;border-block:dotted;width:@Width.ToString()px;height:@Height.ToString()px">
    <div style="width:@Height.ToString()px;height:100px;transform: rotate(270deg) scale(1) translate(-@HalfHeight.ToString()px, -@HalfWidth.ToString()px)">
        <MudTextField @bind-Value="Name"
                      Variant="Variant.Filled"
                      FullWidth="true"
                      Outlined="true"
                      Typo="Typo.h5"
                      Class="mb-4">
        </MudTextField>
    </div>
</div>