@using MudBlazor

<MudDialog>

    <TitleContent>
        <MudText Typo="Typo.h6">@Session.Title</MudText>
    </TitleContent>

    <DialogContent>

        <div Class="d-flex" Elevation="0">
            <div Class="flex-1" />
            <div Class="flex-1" />
            <div Class="flex-1" />

            <div Class="flex-1">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" />
            </div>

            <div Class="flex-1" />
            <div Class="flex-1" />
            <div Class="flex-1" />
        </div>

        <div style="display:inline">
            <MudText Style="text-align:center">@Session.Title</MudText>
        </div>

    </DialogContent>

    <DialogActions>

        <div Elevation="0" style="display:inline">
            <MudButton Style="align-content:center"
                       Variant="Variant.Text"
                       Color="Color.Primary"
                       OnClick=Closing>@ComponentConstants.Cancel.Translate(this)</MudButton>
        </div>

    </DialogActions>


</MudDialog>



